
.Rproj.user/783A01F2/sdb/s-CA0FBA8E/lock_file

exdata-course-project-2.Rproj

*.pper

.Rhistory

.RData

.Rproj.user/783A01F2/sdb/per/t/F481ABC7

.Rproj.user/783A01F2/saved_source_markers

.Rproj.user/783A01F2/sdb/prop/68A60EB9

.Rproj.user/783A01F2/sdb/prop/INDEX
