**.RData
**.Rhistory
**.Rproj
.Rproj.user
/.Rproj.user/*
*/.ipynb_checkpoints/*-checkpoint.ipynb
*/.idea/*
*.iml

data-science/r-programming/assignment_1/specdata/*.csv

python-for-everybody/python-databases/*.sqlite
python-for-everybody/python-databases/geodata/*.data
python-for-everybody/python-databases/geodata/*.html
python-for-everybody/python-databases/geodata/*.js
python-for-everybody/python-databases/gmane/*.js
python-for-everybody/python-databases/gmane/*.jsonp
python-for-everybody/python-databases/pagerank/*.js
python-for-everybody/python-databases/sql1

analytics-edge/week_5/tweets.csv
analytics-edge/kaggle_competition/

machine-learning/machine-learning-class-master/
machine-learning/mlclass-master/
machine-learning/*.zip

csc-java/week_01/Sokobano/**
../_ds-spec
../_python-spec
