/* Whole document: */
body{
  font-size: 14px;
}
/* Headers */
h1 { font-size: 26pt; line-height: 200%;}
h2 { font-size: 24pt; line-height: 200%;}
h3 { font-size: 20pt; line-height: 200%;}
h4, h5, h6 { font-size: 18pt; line-height: 200%;}
